# EDA of NFL Big Data Bowl 2021

This is my warm-up data wrangling for the competition.

I greatly appreciate for your advice because this is my first scripting in Python.

#### Setup

In [398]:
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

## Eplore data files

In [399]:
import os
datdir = '../input/nfl-big-data-bowl-2021/'
os.listdir(datdir)

['week1.csv',
 'week2.csv',
 'week3.csv',
 'plays.csv',
 'week7.csv',
 'week6.csv',
 'week4.csv',
 'week5.csv',
 'week12.csv',
 'week13.csv',
 'week11.csv',
 'week10.csv',
 'week14.csv',
 'week15.csv',
 'week17.csv',
 'week16.csv',
 'players.csv',
 'games.csv',
 'week8.csv',
 'week9.csv']

This dataset is composed of four types of files:

`plays.csv`, `players.csv`, `games.csv`, and many `week1?[0-9].csv` files.

### Look into  'plays' data'

In [400]:
import pandas as pd
plays = pd.read_csv(datdir + 'plays.csv')

In [401]:
plays.head()

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,...,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
0,2018090600,75,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,...,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
1,2018090600,146,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,...,0.0,13:10:00,49.0,NaN,NaN,I,0,0,-0.372360,False
2,2018090600,168,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,...,0.0,13:05:00,49.0,NaN,NaN,I,0,0,-0.702779,False
3,2018090600,190,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,...,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False
4,2018090600,256,(10:59) (Shotgun) M.Ryan pass incomplete short...,1,3,1,ATL,play_type_pass,PHI,1,...,0.0,10:59:00,11.0,NaN,NaN,I,0,0,-0.842272,False

This is the the most detailed data.

In [402]:
plays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gameId                  19239 non-null  int64
 1   playId                  19239 non-null  int64
 2   playDescription         19239 non-null  object
 3   quarter                 19239 non-null  int64
 4   down                    19239 non-null  int64
 5   yardsToGo               19239 non-null  int64
 6   possessionTeam          19239 non-null  object
 7   playType                19239 non-null  object
 8   yardlineSide            18985 non-null  object
 9   yardlineNumber          19239 non-null  int64
 10  offenseFormation        19098 non-null  object
 11  personnelO              19210 non-null  object
 12  defendersInTheBox       19177 non-null  float64
 13  numberOfPassRushers     18606 non-null  float64
 14  personnelD              19210 non-null  object
 15  typeDropback            18600 non-null  object
 16  preSnapVisitorScore     18600 non-null  float64
 17  preSnapHomeScore        18600 non-null  float64
 18  gameClock               18600 non-null  object
 19  absoluteYardlineNumber  18600 non-null  float64
 20  penaltyCodes            1206 non-null   object
 21  penaltyJerseyNumbers    1206 non-null   object
 22  passResult              19237 non-null  object
 23  offensePlayResult       19239 non-null  int64
 24  playResult              19239 non-null  int64
 25  epa                     19239 non-null  float64
 26  isDefensivePI           19239 non-null  bool
dtypes: bool(1), float64(6), int64(8), object(12)
memory usage: 3.8+ MB

In [403]:
plays.groupby('gameId').count()

,playId,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,...,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
gameId,,,,,,,,,,,,,,,,,,,,,
2018090600,89,89,89,89,89,89,89,88,89,88,...,84,84,84,8,8,89,89,89,89,89
2018090900,79,79,79,79,79,79,79,79,79,79,...,76,76,76,5,5,79,79,79,79,79
2018090901,94,94,94,94,94,94,94,92,94,93,...,91,91,91,10,10,94,94,94,94,94
2018090902,89,89,89,89,89,89,89,89,89,89,...,85,85,85,7,7,89,89,89,89,89
2018090903,68,68,68,68,68,68,68,65,68,67,...,67,67,67,3,3,68,68,68,68,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018123011,64,64,64,64,64,64,64,64,64,64,...,63,63,63,4,4,64,64,64,64,64
2018123012,69,69,69,69,69,69,69,68,69,68,...,69,69,69,1,1,69,69,69,69,69
2018123013,73,73,73,73,73,73,73,72,73,73,...,71,71,71,5,5,73,73,73,73,73
2018123014,68,68,68,68,68,68,68,68,68,67,...,65,65,65,8,8,68,68,68,68,68
2018123015,68,68,68,68,68,68,68,68,68,68,...,67,67,67,1,1,68,68,68,68,68

In [404]:
plays.isna().sum()

gameId                        0
playId                        0
playDescription               0
quarter                       0
down                          0
yardsToGo                     0
possessionTeam                0
playType                      0
yardlineSide                254
yardlineNumber                0
offenseFormation            141
personnelO                   29
defendersInTheBox            62
numberOfPassRushers         633
personnelD                   29
typeDropback                639
preSnapVisitorScore         639
preSnapHomeScore            639
gameClock                   639
absoluteYardlineNumber      639
penaltyCodes              18033
penaltyJerseyNumbers      18033
passResult                    2
offensePlayResult             0
playResult                    0
epa                           0
isDefensivePI                 0
dtype: int64

This file is composed of 25 types of play information, recorded by each `gameId`.

The breakdown of the 25 columns are as follows:

|columnName| Type | Description
| :--: | :--: | :-- |
| `playId` | integer|external keys for each `play`
| `playDescription`         | string | description of each `play`
| `quarter`                 | integer | either from the 1st to the 4th, and the 5th!
| `down`                    | integer | either from the 1st to the 4th
| `yardsToGo`               | integer | distance in yards that offense earned
| `possessionTeam`          | string| external keys for team names
| `playType`                | string| either pass, sack or unknown
| `yardlineSide`            | string| external keys for team names
| `yardlineNumber`          | integer | eiter from one to 50
| `offenseFormation`        | string| any of the following: `I_FORM`, `SINGLEBACK`, `SHOTGUN`, `EMPTY`, `PISTOL`, `WILDCAT`, `JUMBO`, or `nan`
| `personnelO`              | string| number of offense players concerned the play
| `defendersInTheBox`       | float| number of defenders (1--11) in the area located 5--10 yards forward of the offensive line
| `numberOfPassRushers`     | float| number of defences that put pressure to the player trying to pass
| `personnelD`              | string|number of defense players concerned the play
| `typeDropback`            | string| number type of backstep before pass mortion, one of: `TRADITIONAL`, `SCRAMBLE_ROLLOUT_LEFT`, `DESIGNED_ROLLOUT_LEFT`, `SCRAMBLE_ROLLOUT_RIGHT`, `DESIGNED_ROLLOUT_RIGHT`, `SCRAMBLE`, `UNKNOWN`, or `nan`
| `preSnapVisitorScore`     | float|score of the visitor team just before the snap
| `preSnapHomeScore`        | float|score of the home team just before the snap
| `gameClock`               | string| time in `hh:mm:ss`
| `absoluteYardlineNumber`  | float| either value from 11 to 109, or `nan`
| `penaltyCodes`            | string| type of fouls in [code](https://www.fwfo.org/Forms/Upload/137.pdf)
| `penaltyJerseyNumbers`    | string| Abbreviation and jersy number who received the penalty
| `passResult`              | string| Result of pass play---C: Complete pass, I: Incomplete pass, S: Quarterback sack, IN: Intercepted pass
| `offensePlayResult`       | integer | yards offense gained by the play
| `playResult`              | integer | Net yards offense gained including penalty yardage
| `epa`                     | float| sum of the expected points
| `isDefensivePI`           | boolean |whether the play was judged as a defensive pass interference or not

When creating this table, I referenced these information.

- https://www.kaggle.com/docxian/nfl-bd-bowl-2021-players-and-play-evaluation
- https://www.advancedfootballanalytics.com/index.php/home/stats/stats-explained/glossary

## Cleanse each columns

### Column `playDescription`

I created three new columns from the column `playDescription`.

In [405]:
desc = plays['playDescription'].str.extract('^\(([1-2]?[0-9]:[0-5][0-9])\)(?: \(([A-Z][a-z]+)\))? (.+)',\
                                            expand = True)
desc.columns = ['mm:ss', 'offenseFormation2', 'description']
plays_desc = pd.concat([plays, desc], axis=1)
plays = plays_desc.drop(labels='playDescription', axis=1)
plays['offenseFormation2'] = plays['offenseFormation2'].str.upper()
plays.head()

,gameId,playId,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,...,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI,mm:ss,offenseFormation2,description
0,2018090600,75,1,1,15,ATL,play_type_pass,ATL,20,I_FORM,...,NaN,NaN,C,10,10,0.261827,False,15:00,NaN,M.Ryan pass short right to J.Jones pushed ob a...
1,2018090600,146,1,1,10,ATL,play_type_pass,PHI,39,SINGLEBACK,...,NaN,NaN,I,0,0,-0.372360,False,13:10,NaN,M.Ryan pass incomplete short right to C.Ridley...
2,2018090600,168,1,2,10,ATL,play_type_pass,PHI,39,SHOTGUN,...,NaN,NaN,I,0,0,-0.702779,False,13:05,SHOTGUN,M.Ryan pass incomplete short left to D.Freeman.
3,2018090600,190,1,3,10,ATL,play_type_pass,PHI,39,SHOTGUN,...,NaN,NaN,C,33,33,3.047530,False,13:01,SHOTGUN,M.Ryan pass deep left to J.Jones to PHI 6 for ...
4,2018090600,256,1,3,1,ATL,play_type_pass,PHI,1,SHOTGUN,...,NaN,NaN,I,0,0,-0.842272,False,10:59,SHOTGUN,M.Ryan pass incomplete short right to D.Freeman.

In [406]:
print(plays[['offenseFormation','offenseFormation2']].loc[plays['offenseFormation'] == plays['offenseFormation2']])
print(plays[['offenseFormation','offenseFormation2']].loc[plays['offenseFormation'] != plays['offenseFormation2']])

      offenseFormation offenseFormation2
2              SHOTGUN           SHOTGUN
3              SHOTGUN           SHOTGUN
4              SHOTGUN           SHOTGUN
5              SHOTGUN           SHOTGUN
11             SHOTGUN           SHOTGUN
...                ...               ...
19231          SHOTGUN           SHOTGUN
19232          SHOTGUN           SHOTGUN
19235          SHOTGUN           SHOTGUN
19236          SHOTGUN           SHOTGUN
19238          SHOTGUN           SHOTGUN

[9882 rows x 2 columns]
      offenseFormation offenseFormation2
0               I_FORM               NaN
1           SINGLEBACK               NaN
6                EMPTY           SHOTGUN
7           SINGLEBACK               NaN
8           SINGLEBACK               NaN
...                ...               ...
19226           PISTOL           SHOTGUN
19230            EMPTY           SHOTGUN
19233            EMPTY           SHOTGUN
19234       SINGLEBACK               NaN
19237       SINGLEBACK               NaN

[9357 rows x 2 columns]

I do not delete the column `offenseFormation2` because it is not identical to the column `offenseFormation`.

### Column `personnelD` and `personnelO`

These column should be devided into multiple columns by each position.

In [407]:
from tools.plays import extract_positions, extract_numbers, fill_personnel
import itertools

positiond_list = plays['personnelD'].apply(lambda x: extract_positions(str(x)))
positiond_set = set(list(itertools.chain.from_iterable(positiond_list)))

filled_personneld = plays['personnelD'].apply(lambda x: fill_personnel(str(x), positiond_set))
expanded_personneld = filled_personneld.str.extractall('([0-9])').unstack()
expanded_personneld.columns = ['dDB', 'dDL', 'dLB', 'dOL', 'dQB', 'dRB', 'dTE', 'dWR']

positiono_list = plays['personnelO'].apply(lambda x: extract_positions(str(x)))
positiono_set = set(list(itertools.chain.from_iterable(positiono_list)))

filled_personnelo = plays['personnelO'].apply(lambda x: fill_personnel(str(x), positiono_set))
expanded_personnelo = filled_personnelo.str.extractall('([0-9])').unstack()
expanded_personnelo.columns = ['oDB', 'oDL', 'oLB', 'oLS', 'oOL', 'oQB', 'oRB', 'oTE', 'oWR']
positiono_set

plays_drop = plays
plays_drop.drop(labels=['personnelD', 'personnelO'], axis=1)

plays = pd.concat([plays_drop, expanded_personneld, expanded_personnelo], axis = 1)
plays

,gameId,playId,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,...,dWR,oDB,oDL,oLB,oLS,oOL,oQB,oRB,oTE,oWR
0,2018090600,75,1,1,15,ATL,play_type_pass,ATL,20,I_FORM,...,0,0,0,0,0,0,0,2,1,2
1,2018090600,146,1,1,10,ATL,play_type_pass,PHI,39,SINGLEBACK,...,0,0,0,0,0,0,0,1,1,3
2,2018090600,168,1,2,10,ATL,play_type_pass,PHI,39,SHOTGUN,...,0,0,0,0,0,0,0,2,1,2
3,2018090600,190,1,3,10,ATL,play_type_pass,PHI,39,SHOTGUN,...,0,0,0,0,0,0,0,1,1,3
4,2018090600,256,1,3,1,ATL,play_type_pass,PHI,1,SHOTGUN,...,0,0,0,0,0,0,0,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,2018122200,2300,3,2,5,WAS,play_type_unknown,WAS,31,SINGLEBACK,...,0,0,0,0,0,0,0,1,1,3
19235,2018122200,3177,4,3,7,TEN,play_type_unknown,WAS,37,SHOTGUN,...,0,0,0,0,0,0,0,1,1,3
19236,2018122201,566,1,3,4,LAC,play_type_unknown,LAC,49,SHOTGUN,...,0,0,0,0,0,0,0,1,1,3
19237,2018122201,1719,2,3,1,LAC,play_type_unknown,LAC,48,SINGLEBACK,...,0,0,0,0,0,0,0,1,1,3
19238,2018122201,2649,3,1,10,BAL,play_type_unknown,LAC,49,SHOTGUN,...,0,0,0,0,0,0,0,1,1,3

### Column `playType`

In [408]:
plays['playType'].unique()
plays.loc[:, 'playType'].replace(['play_type_pass', 'play_type_sack', 'play_type_unknown'], [0, 1, 2], inplace=True)
plays

,gameId,playId,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,...,dWR,oDB,oDL,oLB,oLS,oOL,oQB,oRB,oTE,oWR
0,2018090600,75,1,1,15,ATL,0,ATL,20,I_FORM,...,0,0,0,0,0,0,0,2,1,2
1,2018090600,146,1,1,10,ATL,0,PHI,39,SINGLEBACK,...,0,0,0,0,0,0,0,1,1,3
2,2018090600,168,1,2,10,ATL,0,PHI,39,SHOTGUN,...,0,0,0,0,0,0,0,2,1,2
3,2018090600,190,1,3,10,ATL,0,PHI,39,SHOTGUN,...,0,0,0,0,0,0,0,1,1,3
4,2018090600,256,1,3,1,ATL,0,PHI,1,SHOTGUN,...,0,0,0,0,0,0,0,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,2018122200,2300,3,2,5,WAS,2,WAS,31,SINGLEBACK,...,0,0,0,0,0,0,0,1,1,3
19235,2018122200,3177,4,3,7,TEN,2,WAS,37,SHOTGUN,...,0,0,0,0,0,0,0,1,1,3
19236,2018122201,566,1,3,4,LAC,2,LAC,49,SHOTGUN,...,0,0,0,0,0,0,0,1,1,3
19237,2018122201,1719,2,3,1,LAC,2,LAC,48,SINGLEBACK,...,0,0,0,0,0,0,0,1,1,3
19238,2018122201,2649,3,1,10,BAL,2,LAC,49,SHOTGUN,...,0,0,0,0,0,0,0,1,1,3

### Column `offenseFormation`

In [409]:
print(plays['offenseFormation'].unique())
plays['offenseFormation'].fillna(0, inplace = True)
plays.loc[:,'offenseFormation'].replace(['I_FORM', 'SINGLEBACK', 'SHOTGUN', 'EMPTY', 'PISTOL', 'WILDCAT', 'JUMBO'],
                                        [1, 2, 3, 4, 5, 6, 7], inplace = True)
display(plays)

['I_FORM' 'SINGLEBACK' 'SHOTGUN' 'EMPTY' 'PISTOL' 'WILDCAT' nan 'JUMBO']

,gameId,playId,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,...,dWR,oDB,oDL,oLB,oLS,oOL,oQB,oRB,oTE,oWR
0,2018090600,75,1,1,15,ATL,0,ATL,20,1,...,0,0,0,0,0,0,0,2,1,2
1,2018090600,146,1,1,10,ATL,0,PHI,39,2,...,0,0,0,0,0,0,0,1,1,3
2,2018090600,168,1,2,10,ATL,0,PHI,39,3,...,0,0,0,0,0,0,0,2,1,2
3,2018090600,190,1,3,10,ATL,0,PHI,39,3,...,0,0,0,0,0,0,0,1,1,3
4,2018090600,256,1,3,1,ATL,0,PHI,1,3,...,0,0,0,0,0,0,0,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,2018122200,2300,3,2,5,WAS,2,WAS,31,2,...,0,0,0,0,0,0,0,1,1,3
19235,2018122200,3177,4,3,7,TEN,2,WAS,37,3,...,0,0,0,0,0,0,0,1,1,3
19236,2018122201,566,1,3,4,LAC,2,LAC,49,3,...,0,0,0,0,0,0,0,1,1,3
19237,2018122201,1719,2,3,1,LAC,2,LAC,48,2,...,0,0,0,0,0,0,0,1,1,3
19238,2018122201,2649,3,1,10,BAL,2,LAC,49,3,...,0,0,0,0,0,0,0,1,1,3

### Column `defendersInTheBox`

In [410]:
plays['defendersInTheBox'].fillna(0, inplace=True)
plays['defendersInTheBox'] = plays['defendersInTheBox'].astype(int)
plays['defendersInTheBox'].unique()

array([ 7,  6,  8,  4,  5,  2,  3,  9, 10, 11,  0,  1])

### Column `numberOfPassRushers`

In [411]:
plays['numberOfPassRushers'].fillna(0, inplace=True)
plays['numberOfPassRushers'] = plays['numberOfPassRushers'].astype(int)
plays['numberOfPassRushers'].unique()

array([ 4,  5,  6,  3,  7,  2,  0,  1,  8, 10,  9])

### Column `typeDropback`

In [412]:
plays['typeDropback'].fillna(0, inplace=True)
plays['typeDropback'] = plays['typeDropback'].replace()
plays.loc[:,'typeDropback'].replace(['TRADITIONAL', 'SCRAMBLE_ROLLOUT_LEFT', 'DESIGNED_ROLLOUT_LEFT',
                              'SCRAMBLE_ROLLOUT_RIGHT', 'DESIGNED_ROLLOUT_RIGHT', 'SCRAMBLE', 'UNKNOWN'],
                             [1, 2, 3, 4, 5, 6, 7], inplace=True)
plays['typeDropback'].unique()

array([1, 2, 3, 4, 5, 6, 7, 0])

In [413]:
games = pd.read_csv(datdir + 'games.csv')
games

         gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0    2018090600  09/06/2018        20:20:00          PHI             ATL     1
1    2018090901  09/09/2018        13:00:00          CLE             PIT     1
2    2018090902  09/09/2018        13:00:00          IND             CIN     1
3    2018090903  09/09/2018        13:00:00          MIA             TEN     1
4    2018090900  09/09/2018        13:00:00          BAL             BUF     1
..          ...         ...             ...          ...             ...   ...
248  2018123013  12/30/2018        16:25:00          DEN             LAC    17
249  2018123015  12/30/2018        16:25:00          SEA             ARI    17
250  2018123014  12/30/2018        16:25:00           LA              SF    17
251  2018122200  12/22/2018        16:30:00          TEN             WAS    16
252  2018122201  12/22/2018        20:20:00          LAC             BAL    16

[253 rows x 6 columns]

### Column `gameClock`

There are several rows with `nan`.
How should we do?

In [414]:
plays.gameClock

0        15:00:00
1        13:10:00
2        13:05:00
3        13:01:00
4        10:59:00
           ...
19234         NaN
19235         NaN
19236         NaN
19237         NaN
19238         NaN
Name: gameClock, Length: 19239, dtype: object

In [415]:
plays = pd.merge(plays, games, left_on='gameId', right_on = 'gameId', how = 'left')
plays = plays.loc[plays['gameClock'].isnull() == False]
plays['gameClock'].unique()
plays['gameDate'] = pd.to_datetime(plays['gameDate'], format='%m/%d/%Y')
plays['gameStartDateTime'] = plays['gameDate'].astype(str) + ' ' + plays['gameTimeEastern']
plays['gameStartDateTime'] = pd.to_datetime(plays['gameStartDateTime'])
plays['gameMin'] = plays['gameClock'].str.extract(r'(^[0-9]{2})').astype(int)
plays['gameSec'] = plays['gameClock'].str.extract(r'^[0-9]{2}:([0-9]{2})').astype(int)
plays['gameMilliSec'] = plays['gameClock'].str.extract(r'^[0-9]{2}:[0-9]{2}:([0-9]+)').astype(int)
plays['gameMinFromKickOff'] = plays['gameMin'] + plays['gameSec']*60 + plays['gameMilliSec']*60*100
del plays['gameMin']
del plays['gameSec']
del plays['gameMilliSec']
plays

,gameId,playId,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,...,oRB,oTE,oWR,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,week,gameStartDateTime,gameMinFromKickOff
0,2018090600,75,1,1,15,ATL,0,ATL,20,1,...,2,1,2,2018-09-06,20:20:00,PHI,ATL,1,2018-09-06 20:20:00,15
1,2018090600,146,1,1,10,ATL,0,PHI,39,2,...,1,1,3,2018-09-06,20:20:00,PHI,ATL,1,2018-09-06 20:20:00,613
2,2018090600,168,1,2,10,ATL,0,PHI,39,3,...,2,1,2,2018-09-06,20:20:00,PHI,ATL,1,2018-09-06 20:20:00,313
3,2018090600,190,1,3,10,ATL,0,PHI,39,3,...,1,1,3,2018-09-06,20:20:00,PHI,ATL,1,2018-09-06 20:20:00,73
4,2018090600,256,1,3,1,ATL,0,PHI,1,3,...,2,3,0,2018-09-06,20:20:00,PHI,ATL,1,2018-09-06 20:20:00,3550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18601,2018122201,3842,4,2,2,LAC,0,LAC,33,3,...,1,1,3,2018-12-22,20:20:00,LAC,BAL,16,2018-12-22 20:20:00,1142
18602,2018122201,3884,4,1,10,LAC,0,LAC,40,3,...,1,1,3,2018-12-22,20:20:00,LAC,BAL,16,2018-12-22 20:20:00,2
18603,2018122201,3909,4,1,10,LAC,0,BAL,43,3,...,1,1,3,2018-12-22,20:20:00,LAC,BAL,16,2018-12-22 20:20:00,2461
18604,2018122201,3931,4,2,10,LAC,0,BAL,43,3,...,1,1,3,2018-12-22,20:20:00,LAC,BAL,16,2018-12-22 20:20:00,2221
18605,2018122201,3953,4,3,10,LAC,0,BAL,43,3,...,1,1,3,2018-12-22,20:20:00,LAC,BAL,16,2018-12-22 20:20:00,1861

# References
I referenced informations below
- https:/)1-players-and-play-evaluation